<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Manuel Ruz</title>


    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/remixicon.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<form class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/admin}">FNACuel</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" name="q" aria-label="Search" th:value="${param.q}">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/admin/tipo/categoria/crear/}">Crear categoria</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/admin/tipo/categoria/}">Ver categoria</a>
        </li>
    </ul>
</form>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admin}">
                            <span data-feather="home"></span>
                            Menu principal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/tipo/producto/}">
                            <span data-feather="file"></span>
                            Productos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/tipo/categoria/}">
                            <span data-feather="shopping-cart"></span>
                            Categorias
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/tipo/digital/}">
                            <span data-feather="users"></span>
                            Digital
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/tipo/servicio/}">
                            <span data-feather="users"></span>
                            Servicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/tipo/marca/}">
                            <span data-feather="users"></span>
                            Marca
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/tipo/compania/}">
                            <span data-feather="users"></span>
                            Compania
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


        <div class="starter-template">
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <th>Imagen</th>
            <th>Nombre de la categoria</th>
            <th>Editar/Borrar</th>
            </thead>
            <tbody>
            <tr th:each="categorias : ${categoria}">
                <td><img th:src="${categorias.imagen}" width="100" height="100"></td>
                <td th:text="${categorias.nombre}">horas</td>
                <td>
                    <a class="h4 mr-2" style="text-decoration: none" th:href="@{/admin/tipo/categoria/editar/{id}(id=${categorias.id})}">
                        <button type="submit" class="btn btn-warning m-2">Editar</button>
                    </a>
                    <a class="h4 mr-2" style="text-decoration: none" th:href="@{/admin/tipo/categoria/borrar/{id}(id=${categorias.id})}">
                        <button type="submit" class="btn btn-danger m-2">Borrar</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</main>
    <script th:src="@{/js/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/main.js}" type="application/javascript"></script>
    <script th:src="@{/js/jquery-slim.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

</body>
</html>