<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Manuel Ruz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

</head>

<body>

<form class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}">
        FNACuel
    </a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" name="q" aria-label="Search"
           th:value="${param.q}">
</form>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">
                            <i class="fa-solid fa-bars-sort"></i>
                            Menu principal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tipo/producto/}">
                            <span data-feather="file"></span>
                            Productos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tipo/categoria/}">
                            <span data-feather="shopping-cart"></span>
                            Categorias
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tipo/digital/}">
                            <span data-feather="users"></span>
                            Digital
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tipo/servicio/}">
                            <span data-feather="users"></span>
                            Servicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/rest/}">
                            <span data-feather="bar-chart-2"></span>
                            Categorias Rest
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="wrapper">
                <section>
                    <h2>Productos</h2>
                    <div th:each="productos : ${producto}">

                        <div class="carta estilo-a">
                            <a th:href="@{/producto/{id}(id=${productos.id})}">
                                <div class="photo">
                                    <img src="https://placehold.it/350x260"
                                         th:src="${#strings.isEmpty(productos.imagen)} ? 'http://placehold.it/350x260' : ${productos.imagen}"
                                         class="img-responsive" alt="a"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section>
                    <h2>Digitales</h2>
                    <div th:each="digitales : ${digital}">
                        <div class="carta estilo-a">
                            <a th:href="@{/digital/{id}(id=${digitales.id})}">
                                <div class="photo">
                                    <img src="https://placehold.it/350x260"
                                         th:src="${#strings.isEmpty(digitales.imagen)} ? 'http://placehold.it/350x260' : ${digitales.imagen}"
                                         class="img-responsive" alt="imagen"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section>
                    <h2>Servicios</h2>
                    <div th:each="servicios : ${servicio}">

                        <div class="carta estilo-a">
                            <a th:href="@{/servicio/{id}(id=${servicios.id})}">
                                <div class="photo">
                                    <img src="https://placehold.it/350x260"
                                         th:src="${#strings.isEmpty(servicios.imagen)} ? 'http://placehold.it/350x260' : ${servicios.imagen}"
                                         height="150" width="150" class="img-responsive" alt="a"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js" integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/main.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

</body>

</html>