<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/prueba.css" th:href="@{/css/prueba.css}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"/>
    <title>Manuel Ruz</title>

</head>
<body>
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
    <!-- Nav -->
    <nav class="main-nav">
        <a th:href="@{/}">
            <img src="../../static/img/logo.png" th:src="@{/img/logo.png}" alt="FNACuel" class="logo">
        </a>
        <ul class="main-menu">
            <li><a th:href="@{/}">Menu principal</a></li>
            <li><a th:href="@{/tipo/producto/}">Productos</a></li>
            <li><a th:href="@{/tipo/servicio/}">Servicios</a></li>
            <li><a th:href="@{/tipo/digital/}">Productos Digitales</a></li>
        </ul>

        <ul class="right-menu">
            <li>
                <a href="#">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://placehold.it/400x400" alt=""
                     th:src="${#strings.isEmpty(producto.imagen)} ? 'http://placehold.it/350x260' : ${producto.imagen}"
                     class="img-responsive"/>
            </div>
            <div class="col-md-8">
                <h4>Titulo del libro</h4>
                <h6 class="product-name" th:text="${producto.titulo}"></h6>
            </div>
            <div class="col-md-8">
                <h4>Material del libro</h4>
                <h6 class="product-name" th:text="${producto.material}"></h6>
            </div>
            <div class="col-md-8">
                <h4>Fecha de lanzamiento</h4>
                <h6 class="product-name" th:text="${producto.fechalanzamiento}"></h6>
            </div>
            <div class="col-md-8">
                <h4>Fecha de lanzamiento</h4>
                <h6 class="product-name" th:text="${producto.precio}">€</h6>
            </div>
        </div>
    </div>
</main>
<script src="https://kit.fontawesome.com/b8e772e179.js" crossorigin="anonymous"></script>
<script src="../../static/js/prueba.js" th:src="@{/js/prueba.js}"></script>
</body>
</html>