<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>


    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"/>
    <title>Manuel Ruz</title>

</head>
<body>
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
    <!-- Nav -->
    <nav class="main-nav">
        <a th:href="@{/}">
            <img src="../../../static/img/logo.png" th:src="@{/img/logo.png}" alt="FNACuel" class="logo">
        </a>
        <ul class="main-menu">
            <li><a th:href="@{/}">Menu principal</a></li>
            <li><a th:href="@{/tipo/producto/}">Productos</a></li>
            <li><a th:href="@{/tipo/servicio/}">Servicios</a></li>
            <li><a th:href="@{/tipo/digital/}">Productos Digitales</a></li>
            <li th:if="${session.usuario != null}"><a th:href="@{/}" th:text="${session.usuario.nombre}"></a></li>
            <li th:if="${session.usuario != null}"><a th:href="@{/logout}">Cerrar sesion</a></li>
        </ul>

        <ul class="right-menu">
            <li th:if="${session.usuario != null}">
                <a th:href="@{/app/carrito/}">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
            <li th:if="${session.usuario != null}">
                <a th:href="@{/app/miscompras/}">
                    <i class="fa-solid fa-list"></i>
                </a>
            </li>

        </ul>
    </nav>
    <div class="contenedorDetalle">
        <div class="imagenDetalle">
            <img alt="" src="../../../static/img/logo.png" th:src="@{/img/logo.png}" class="img-responsive"/>
        </div>
        <div class="detalleDetalles">
            <h5>Nombre del comprador</h5>
            <p th:text="${session.usuario.nombre + ' ' + session.usuario.apellidos}"></p>
            <p>Gracias por comprar en FNACuel!</p>
            <br/>
            <h5>Fecha de compra</h5>
            <p th:text="${#dates.format(compra.fecha_compra,'dd/MMM/yyyy HH:mm')}"></p>
            <br/><br/>
            <h5>Nª de compra</h5>
            <span>Compra</span>
            <span th:text="${compra.id}">1</span>
            <br/><br/>
            <table class="table table-striped">
                <thead>
                    <th>Producto</th>
                    <th>Nombre</th>
                </thead>
                <tbody>
                <tr th:if="${digitales != null}" th:each="digital : ${digitales}">
                    <td><img th:src="${digital.imagen}" width="100" height="100" alt="img" src=""></td>
                    <td th:text="${digital.nombre}"></td>
                    <td><span th:text="${#numbers.formatCurrency(digital.precio)}">123€</span></td>
                </tr>
                <tr th:if="${productos != null}" th:each="producto : ${productos}">
                    <td><img th:src="${producto.imagen}" width="100" height="100" alt="img" src=""></td>
                    <td th:text="${producto.titulo}"></td>
                    <td><span th:text="${#numbers.formatCurrency(producto.precio)}">123€</span></td>
                </tr>
                <tr th:if="${servicios != null}" th:each="servicio : ${servicios}">
                    <td><img th:src="${servicio.imagen}" width="100" height="100" alt="img" src=""></td>
                    <td th:text="${servicio.nombre}"></td>
                    <td><span th:text="${#numbers.formatCurrency(servicio.precio)}">123€</span></td>
                </tr>
                <tr>
                    <td><strong>TOTAL</strong></td>
                    <td></td>
                    <td><span th:text="${#numbers.formatCurrency(total_compra)}">123€</span></td>
                </tr>
                </tbody>
            </table>
            <br/>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/b8e772e179.js" crossorigin="anonymous"></script>
<script src="../../../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>
